#textodmain wesnoth-Dyrcona_DotF

[scenario]
    id=04_Hammond
    name= _ "Town of Hammond"
    next_scenario=05_Respite
    map_file=04_Hammond.map
    victory_when_enemies_defeated=no
    turns=25
    {DEFAULT_SCHEDULE_24H}
    #Pick some music

    {GRAPVIN_SIDE FOG=no
                  INCOME={ON_DIFFICULTY4 2 0 0 -2}
                  RECRUIT={RECRUIT_PEASANTS}}

    [side]
        side=2
        save_id=undead
        persistent=yes
        {UNDEAD_TEAM}
        recruit=Walking Corpse,Soulless
        gold=120
        income={ON_DIFFICULTY4 0 2 4 6}
        village_support={ON_DIFFICULTY4 1 1 2 2}
        village_gold={ON_DIFFICULTY4 1 2 2 4}
        controller=ai
        [leader]
            id=Naqrefba
            type=Dark Sorcerer
            name= _ "Dark Sorcerer" # Player doesn't know who he is, yet.
        [/leader]
        [ai]
            aggression=1.0
            caution=0.0
            grouping=offensive
            [goal]
                name=target_location
                id=attack_townhall
                [criteria]
                    x,y=8,4 # Town Hall
                [/criteria]
                value=5
            [/goal]
        [/ai]
    [/side]

#ifdef EASY
    {LIMIT_CONTEMPORANEOUS_RECRUITS 2 "Soulless" 4}
#endif

    [event]
        name=prestart
        {GRAPVIN_RECALLS}
        {VARIABLE naqrefba_fleeing false}
        [if]
            [have_unit]
                side=2
                id=Oneeva
                search_recall_list=true
            [/have_unit]
            [then]
                {RECALL_XY Oneeva 1 42}
                [gold]
                    side=2
                    amount={ON_DIFFICULTY4 8 16 24 32}
                [/gold]
#ifdef NIGHTMARE
                [terrain]
                    x=6
                    y=40
                    terrain=Cer
                [/terrain]
#endif
            [/then]
        [/if]
        [label]
            x,y=8,4
            text= _ "Town Hall"
            side=1
            team_name=defenders
            tooltip= _ "Grapvin may recruit townsfolk at the town hall."
            immutable=no
        [/label]
        [label]
            x,y=13,6
            text= _ "Temple of Light"
            side=1
            team_name=defenders
            tooltip= _ "Niraliza may recruit Initiates at the Temple of Light."
            immutable=no
        [/label]
        [unit]
            x,y=5,3
            facing=nw
            side=1
            id=Bostock
            name= _ "Mayor Bostock"
            type=Fencer
            unrenamable=yes
            random_traits=no
            [modifications]
                {TRAIT_LOYAL_HERO}
                {TRAIT_QUICK}
            [/modifications]
        [/unit]
        [unit]
            x,y=6,3
            facing=nw
            side=1
            id=Gerald
            name= _ "Gerald"
            type=Cadet
            unrenamable=yes
            random_traits=no
            [modifications]
                {TRAIT_LOYAL_HERO}
                {TRAIT_STRONG}
            [/modifications]
        [/unit]
    [/event]

    [event]
        name=start
        {WITH_UNIT (id=Grapvin) grapvin ({VARIABLE grapvin_rank "$grapvin.type"})}
        [message]
            speaker=Bostock
            message= _ "Greetings, $grapvin_rank! I wish that I could welcome you to Hammond under better circumstances, but as you can see we are under siege."
        [/message]
        [if]
            [have_unit]
                side=1
                id=Jethro
            [/have_unit]
            [then]
                [message]
                    speaker=Grapvin
                    message= _ "I am $grapvin_rank Grapvin. I travel with Sister Niraliza and Jethro from Tull. We're investigating a troublesome plague and came to warn you of this attack, but I see we are a bit late."
                [/message]
            [/then]
            [else]
                [message]
                    speaker=Grapvin
                    message= _ "I am $grapvin_rank Grapvin. Sister Niraliza and I were investigating reports of a plague in the Village of Tull when we learned of an imminent attack planned on your town. We raced here to warn you, but I see that we are a bit late."
                [/message]
            [/else]
        [/if]
        [message]
            speaker=Bostock
            message= _ "Your arrival is well timed nonetheless, $grapvin_rank. I am Mayor Bostock and my son, Gerald, is but a Cadet. While I dabble in sword fighting, neither of us is yet an accomplished military leader. We would be most grateful for your assistance in defending our town. I am confident that you can organize our rabble into a capable force."
        [/message]
        [message]
            speaker=Grapvin
            message= _ "Indeed, sir, we will join your fight against this evil menace. We have encountered their like before."
        [/message]
        [message]
            speaker=Bostock
            message= _ "Excellent! Take the gold in my purse. You may recruit townsfolk at the Town Hall, and the Sister may find help in the Temple."
            sound=gold.ogg
        [/message]
        [gold]
            side=1
            amount=50
        [/gold]

        [if]
            [have_unit]
                side=2
                id=Oneeva
            [/have_unit]
            [then]
                [message]
                    speaker=Oneeva
                    message= _ "I am here, master! I come from Tull to warn you that a small group comes to interfere with your plan."
                [/message]
                [message]
                    speaker=Naqrefba
                    message= _ "Yes, I see that, girl.

You have served me well so far. Let us pray that service continues."
                [/message]
            [/then]
            [else]
                [message]
                    speaker=Naqrefba
                    message= _ "Where is my blasted apprentice? I knew that she was not up to the task. Now I must deal with these interlopers on my own!"
                [/message]
            [/else]
        [/if]

        [objectives]
            side=1
            [objective]
                description= _ "Defend the town of Hammond against the Dark Sorcerer and his forces."
                condition=win
            [/objective]
            [objective]
                description= _ "Mayor Bostock and his son, Gerald, must survive."
                condition=win
            [/objective]
            [objective]
                {BONUS_OBJECTIVE_CAPTION}
                description= _ "Rank Gerald up to Sergeant."
                condition=win
            [/objective]
            [objective]
                description= _ "If the enemy reaches the town square, you lose."
                condition=lose
            [/objective]
            {OBJECTIVE_HERODEATHS}
            [gold_carryover]
                bonus=yes
                carryover_percentage=100
            [/gold_carryover]
        [/objectives]

        {CLEAR_VARIABLE grapvin_rank}
    [/event]

    # Bonus objective: Gerald Advances
    [event]
        name=post advance
        [filter]
            side=1
            id=Gerald
        [/filter]
        [message]
            speaker=Bostock
            message= _ "My boy now has the experience he needs to organize the town defenses in the future."
        [/message]
        {AWARD_EXPERIENCE (id=Grapvin) 8 (MSG= _ "You were awarded experience for helping Gerald to advance.")}
    [/event]

    # Move to events for the player's side
    [event]
        name=moveto
        [filter]
            side=1
            [not]
                id=friendly_wolf # a wolf can't read
            [/not]
            x,y=10,7
        [/filter]
        {AWARD_EXPERIENCE
        (side=1
        x,y=10,7)
        4
        (MSG= _ "This monument commemorates the founding of the Town of Hammond.")}
    [/event]
    # Niraliza can recruit when she's on the temple.
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            id=Niraliza
            x,y=13,6
        [/filter]
        [modify_unit]
            [filter]
                id=Niraliza
            [/filter]
            canrecruit=yes
            extra_recruit=Initiate of Light
        [/modify_unit]
    [/event]
    [event]
        name=leave_hex
        first_time_only=no
        [filter]
            side=1
            id=Niraliza
            x,y=13,6
        [/filter]
        [modify_unit]
            [filter]
                id=Niraliza
            [/filter]
            canrecruit=no
            extra_recruit=""
        [/modify_unit]
    [/event]

    # Naqrefba runs away if damaged.
    {UNIT_IS_COWARD Naqrefba}
    [event]
        name=Naqrefba_flees
        {MODIFY_AI_ADD_ASPECT 2 leader_goal {AI_ASPECT_LEADER_GOAL_RISKY_MOVE_TO 32 37}}
        {VARIABLE naqrefba_fleeing true}
        [modify_ai]
            side=2
            action=remove
            path=goal[attack_townhall]
        [/modify_ai]
        [modify_ai]
            side=2
            action=add
            path=goal[]
            [goal]
                name=protect_unit
                [criteria]
                    side=2
                    canrecruit=yes
                [/criteria]
                protect_radius=8
                value=5
            [/goal]
        [/modify_ai]
        [if]
            [have_unit]
                side=2
                id=Oneeva
            [/have_unit]
            [then]
                [message]
                    speaker=Naqrefba
                    message= _ "Come, girl! We must flee!"
                [/message]
            [/then]
            [else]
                [message]
                    speaker=Naqrefba
                    message= _ "I must flee!"
                [/message]
            [/else]
        [/if]
    [/event]
    [event]
        name=moveto
        [filter]
            side=2
            id=Naqrefba
            x,y=32,37
        [/filter]
        [message]
            speaker=unit
            message= _ "You have not seen the last of me!"
        [/message]
        [kill]
            side=2
            id=Naqrefba
            animate=no
        [/kill]
        [endlevel]
            result=victory
        [/endlevel]
    [/event]
    # We give him some plot armor while he flees.
    {FORCE_CHANCE_TO_HIT side=1 id=Naqrefba 0 (
    {VARIABLE_CONDITIONAL naqrefba_fleeing boolean_equals true}
    )}

    # The undead win if they reach the town square
    [event]
        name=moveto
        [filter]
            side=2
            x=4,4,5,5,5,5,5,6,6,6,6,6,6,7,7,7,7,7,7,7,8,8,8,8,8,8,8,9,9,9,9,9,9,9,10,10,10,10,10,10,10,11,11,11,11,11,11,12,12,12,12,13,13,13,14,14
            y=5,6,3,4,5,6,7,2,3,4,5,6,7,2,3,4,5,6,7,8,2,3,4,5,6,7,8,3,4,5,6,7,8,9,3,4,5,6,7,8,9,4,5,6,7,8,9,5,6,7,8,6,7,8,6,7
        [/filter]
        [message]
            speaker=Bostock
            message= _ "Oh, no! They have overtaken the town square! We are doomed!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    # Last breath/death events
    {HERODEATHS}
    [event]
        name=last breath
        [filter]
            id=Bostock
        [/filter]
        [message]
            speaker=unit
            message= _ "My people will be lost without me!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Gerald
        [/filter]
        [message]
            speaker=unit
            message= _ "I fall..."
        [/message]
        [message]
            speaker=Bostock
            message= _ "My son, no! Our defense will fail without you!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Oneeva
        [/filter]
        [message]
            speaker=unit
            message= _ "I have failed you, master."
        [/message]
        [message]
            speaker=Naqrefba
            message= _ "I always knew that you would. May the Darkness take your soul!"
        [/message]
    [/event]
    # It's rigged so that he is hard to kill, but just in case.
    [event]
        name=last breath
        [filter]
            id=Naqrefba
        [/filter]
        [message]
            speaker=unit
            sound=dwarf-laugh.wav
            message= _ "You have not seen the last of me!"
        [/message]
        [endlevel]
            result=victory
        [/endlevel]
    [/event]

    [event]
        name=scenario_end
        {CLEAR_VARIABLE naqrefba_fleeing}
    [/event]

    # Place the town hall, the temple, etc.
    {PLACE_IMAGE terrain/village/human-city.png 8 4}
    {PLACE_IMAGE scenery/temple1.png 13 6}
    {PLACE_IMAGE scenery/rock-cairn.png 10 7}
[/scenario]
